<div>
    <p>
        Hi <%= comment.user.name %>!
    </p>
    <br>
    <br>
    <p>
        Your comment <h1><%=comment.content%></h1> just got published on Codeial
    </p>
    <br>
    <br>
    <p>
        Thanks For Visiting!
    </p>
</div>